.sg-pagination
  nav(aria-label='Page navigation')
    ul.pagination
      li.page-item
        a.page-link.sg-pagination-link--prev(href='#' aria-label='Previous')
          i(class="fas fa-chevron-left fa-xs", aria-hidden='true')
      li.page-item.active
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        a.page-link.sg-pagination-link--next(href='#' aria-label='Next')
          i(class="fas fa-chevron-right fa-xs", aria-hidden='true')
