
extends _page-template.pug


block content
  .container
    .sg-page-header
      .sg-page-header__title
        h1 Daniel's Bar Mitzvah
        p.text-muted.mt-2
          | Hosted by dbusheikin
      .sg-page-geader__action
        a.btn.btn-lg.btn-primary(href="booth-mode.html")
          i.fas.fa-camera.mr-3
          | Enter Booth
    .sg-booth-card-grid
      +thumbnailLink
      +thumbnailLink
      +thumbnailLink
      +thumbnailLink
      
      +thumbnailLink
      +thumbnailLink
      +thumbnailLink
      +thumbnailLink

      +thumbnailLink
      +thumbnailLink
      +thumbnailLink
      +thumbnailLink

  include includes/_pagination.pug
