
extends _page-template-naked.pug

block content 
  .sg-booth-container
    .sg-booth-background
    .sg-booth-instruction
      p.h1.text-center.text-white start moving!
    .sg-booth-actions
      button.btn.btn-light.btn-lg(type='button', data-toggle='modal', data-target='#helpModal')
        i.fas.fa-question.mr-3
        | Help
      button.btn.btn-light.btn-lg(type='button', data-toggle='modal', data-target='#settingsModal')
        i.fas.fa-cog.mr-3
        | Settings
      a.btn.btn-light.btn-lg(href="booth-gallery.html")
        i.fas.fa-th.mr-3
        | Gallery
    .sg-booth-counter
      span 3
    .sg-booth__start-button
      button.btn.btn-primary.btn-lg start
    .sg-booth-timer
      .sg-booth-timer__fill
  // Help Modal
  #helpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='helpModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#helpModalLabel.modal-title Need a hand?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | Just hit the start button and start moving! You'll have 10 seconds as we take a bunch of photos of you. Then we'll stitch them together into a moving GIF, and immediately upload it for you to see and share. It'll be fun, we promise.
  // Settings Modal
  #settingsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='helpModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#helpModalLabel.modal-title Settings
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form
            .form-group.row.mb-4
              label.col-4.font-weight-bold.text-right.sg-line-height-sm Preset
              .col-8
                .custom-control.custom-radio.sg-bigger-radio
                  input#preset_0.custom-control-input(name='preset', type='radio', value='slow')
                  label.custom-control-label(for='preset_0') Slow and Smooth
                .custom-control.custom-radio.sg-bigger-radio
                  input#preset_1.custom-control-input(name='preset', type='radio', value='fast')
                  label.custom-control-label(for='preset_1') Fast and Jumpy
                .custom-control.custom-radio.sg-bigger-radio
                  input#preset_2.custom-control-input(name='preset', type='radio', value='custom')
                  label.custom-control-label(for='preset_2') Custom
            .form-group.row.mb-4.align-items-center
              label.col-4.font-weight-bold.text-right.sg-line-height-sm Number of pictures
              .col-8
                .sg-fancy-radios
                  .sg-fancy-radios__radio
                    input#pictures-count_0(name='pictures-count', type='radio', value='5')
                    label(for='pictures-count_0') 5
                  .sg-fancy-radios__radio
                    input#pictures-count_1(name='pictures-count', type='radio', value='10')
                    label(for='pictures-count_1') 10
                  .sg-fancy-radios__radio
                    input#pictures-count_2(name='pictures-count', type='radio', value='15')
                    label(for='pictures-count_2') 15
                  .sg-fancy-radios__radio
                    input#pictures-count_3(name='pictures-count', type='radio', value='20')
                    label(for='pictures-count_3') 20
            .form-group.row.mb-4.align-items-center
              label.col-4.text-right.sg-line-height-sm
                span.font-weight-bold Time between pictures
                br
                small.text-muted (seconds)
              .col-8.sg-fancy-radios
                .sg-fancy-radios__radio
                  input#radio_0(name='radio', type='radio', value='100')
                  label(for='radio_0') 0.1
                .sg-fancy-radios__radio
                  input#radio_1(name='radio', type='radio', value='200')
                  label(for='radio_1') 0.2
                .sg-fancy-radios__radio
                  input#radio_2(name='radio', type='radio', value='500')
                  label(for='radio_2') 0.5
                .sg-fancy-radios__radio
                  input#radio_3(name='radio', type='radio', value='1000')
                  label(for='radio_3') 1
            .form-group.row.mb-4.align-items-center
              label.col-4.font-weight-bold.text-right.sg-line-height-sm GIF frame rate
              .col-8.sg-fancy-radios
                .sg-fancy-radios__radio
                  input#frame-rate_0(name='frame-rate', type='radio', value='2')
                  label(for='frame-rate_0') 2
                .sg-fancy-radios__radio
                  input#frame-rate_1(name='frame-rate', type='radio', value='4')
                  label(for='frame-rate_1') 4
                .sg-fancy-radios__radio
                  input#frame-rate_2(name='frame-rate', type='radio', value='10')
                  label(for='frame-rate_2') 10
                .sg-fancy-radios__radio
                  input#frame-rate_3(name='frame-rate', type='radio', value='20')
                  label(for='frame-rate_3') 20
          .d-flex.justify-content-end
            button.btn.btn-default Cancel
            button.btn.btn-primary Save

