
extends _page-template-naked.pug

block content 
  .sg-booth-container
    .sg-booth-background
    .sg-booth-instruction
      p.h1.text-center.text-white start moving!
    .sg-booth-actions
      button.btn.btn-light.btn-lg(type='button', data-toggle='modal', data-target='#helpModal')
        i.fas.fa-question.mr-3
        | Help
      button.btn.btn-light.btn-lg 
        i.fas.fa-cog.mr-3
        | Settings
      a.btn.btn-light.btn-lg(href="booth-gallery.html")
        i.fas.fa-th.mr-3
        | Gallery
    .sg-booth-counter
      span 3
    .sg-booth__start-button
      button.btn.btn-primary.btn-lg start
    .sg-booth-timer
      .sg-booth-timer__fill
  // Help Modal
  #helpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='helpModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#helpModalLabel.modal-title Need a hand?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | Just hit the start button and start moving! You'll have 10 seconds as we take a bunch of photos of you. Then we'll stitch them together into a moving GIF, and immediately upload it for you to see and share. It'll be fun, we promise.