
extends _page-template.pug

block content
  .container 
    .text-center.mb-5
      h1
        span.sg-gif-page__heading A sweetgif from
        br
        span Daniel's Bar Mitzvah
    .sg-gif-single__grid
      a.sg-gif-single__prev-gif.sg-alt-link-style(href="#")
          +thumbnail
          span
            i.fas.fa-xs.fa-arrow-left.mr-1
            | Previous
      .sg-gif-single__main-gif
        img.rounded(src="http://placehold.it/800x600" alt="")
      a.sg-gif-single__next-gif.sg-alt-link-style(href="#")
          +thumbnail
          span
            | Next
            i.fas.fa-xs.fa-arrow-right.ml-1
      a.sg-gif-single__gallery-link.sg-alt-link-style(href="booth-gallery.html")
        i.fas.fa-th.fa-2x
        span Gallery
      .sg-gif-single__social-share
        h3 Share this work of art:
        .sg-share-social-links
          a(href="#")
            img.sg-share-social-links__icon(src="build/images/icon-twitter.svg ", alt="Share this on Twitter")
          a(href="#")
            img.sg-share-social-links__icon(src="build/images/icon-facebook.svg", alt="Share this on Facebook")
          a(href="#")
            img.sg-share-social-links__icon(src="build/images/icon-instagram.svg ", alt="Share this on Instagram")
        .sg-share-url
          .sg-share-url__url
            span https://sweetgif.com/whatever
          button.btn.btn-link
            i.fas.fa-copy.mr-1
            span Copy
