
extends _page-template-naked.pug

block content
  .bg-yellow.sg-full-page-div
    .container.text-center
      h1 you nailed it!
      p.lead find it on your booth page → <a href="#">sweetgif.com/{code}</a>
      img.mb-4(src="http://placehold.it/600x400", alt="")
      p.font-weight-bold uploading... 40%

    
