
extends _page-template.pug

block content
  section
    .container
      h1.mb-5 How it works
      .row
        .col-md-4
          p.h1.text-primary  1
          p.h3  Create a booth
          p Booths have a unique url, and can be public or password-protected.
        .col-md-4
          p.h1.text-primary  2
          p.h3  Start GIFing
          p You just need a computer, tablet or phone with a camera – built-in or externally connected.
        .col-md-4
          p.h1.text-primary  3
          p.h3  See and share
          p Give your pals your booth code or url to find and share GIFs as instantly as they’re made
  section.bg-dark-blue.text-white.faqs
    .container
      p.h1.mb-5.text-white Frequently Asked
      .row.mb-5
        .col-md-6 
          dl
            dt Lorem ipsum dolor sit amet?
            dd Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
          dl
            dt Consectetur adipiscing elit, sed do eiusmod tempor incididunt?
            dd Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
          dl
            dt Nisi ut aliquid ex ea commodi consequatur?
            dd This is great stuff man
        .col-md-6 
          dl
            dt Consectetur adipiscing elit, sed do eiusmod tempor incididunt?
            dd Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
          dl
            dt Nisi ut aliquid ex ea commodi consequatur?
            dd This is great stuff man
          dl
            dt What is this all about?
            dd This is great stuff man
      p.lead Still have some questions? <a href="#">give us a shout.</a>

