
extends _page-template.pug

block content
  section
    .container
      h1 How it works
    .container
      .row
        .col-md-4
          p: strong Create a booth
          p Booths have a unique url, and can be public or password-protected.
        .col-md-4
          p: strong Start GIFing
          p You just need a computer, tablet or phone with a camera – built-in or externally connected.
        .col-md-4
          p: strong See and share
          p Give your pals your booth code or url to find and share GIFs as instantly as they’re made
  section.bg-dark-blue.text-white
    .container
      p.h1.mb-5 Frequently Asked
      .row.mb-5
        .col-md-6 
          dl
            dt What is this all about?
            dd This is great stuff man
          dl
            dt What is this all about?
            dd This is great stuff man
          dl
            dt What is this all about?
            dd This is great stuff man
        .col-md-6 
          dl
            dt What is this all about?
            dd This is great stuff man
          dl
            dt What is this all about?
            dd This is great stuff man
          dl
            dt What is this all about?
            dd This is great stuff man
      p.lead Still have some questions? <a href="#">give us a shout.</a>

