
extends _page-template.pug

block content
  section
    .container.text-center.pt-5
      .sg-homepage__main-image.sg-fancy-frame
        img.rounded(src="build/images/gifsample2.gif")
      .sg-squiggle
        img(src="build/images/squiggle.svg", alt="")
      p.sg-homepage__hed move around
      p.sg-homepage__dek sweetgif is a digital photobooth that makes sweet GIFs.
      .row.row-condensed.d-flex.justify-content-center
        .col-xs-12.col-md-auto.mb-1
          a.btn.btn-outline-dark.btn-lg.d-block.d-sm-inline-block(href="how-it-works.html") how it works
        .col-xs-12.col-md-auto.mb-1
          a.btn.btn-dark.btn-lg.d-block.d-sm-inline-block(href="booths-index.html") see booths
  section.bg-dark-blue
    .container
      p.h1.text-center.text-white booths on right now
      .sg-squiggle.mb-5
        img(src="build/images/squiggle.svg", alt="")
      .row
        .col-6.col-md-3.mb-4
          +boothCard('sg-booth-card sg-booth-card--inverted')
        .col-6.col-md-3.mb-4
          +boothCard('sg-booth-card sg-booth-card--inverted')
        .col-6.col-md-3.mb-4
          +boothCard('sg-booth-card sg-booth-card--inverted')
        .col-6.col-md-3.mb-4
          +boothCard('sg-booth-card sg-booth-card--inverted')

