.sg-booth-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("http://placehold.it/1080x720");
  background-size: contain;
  background-position: 50%;
  z-index: -1;
}

.sg-booth-actions {
  position: fixed;
  top: 100px;
  text-align: right;
  width: 180px;
  right: 0;

  & > .btn {
    display: block;
    margin-bottom: .75rem;
    width: 100%;
    border-radius: 50px 0 0 50px;
    text-align: left;
    padding: 1rem 1.5rem;
    box-shadow: $box-shadow;
    text-transform: lowercase;
  }
}

.sg-booth__start-button > button{
  position: fixed;
  bottom: $grid-gutter-width * 2;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: $h1-font-size;
  border-radius: 100px;
  padding-top: 1rem;
  padding-bottom: 1.3rem;  
  font-weight: $font-weight-bold;
  box-shadow: $box-shadow;
}

.sg-booth__start-button > button{
  position: fixed;
  bottom: 4rem;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: $h1-font-size;
  border-radius: 100px;
  padding-top: 1rem;
  padding-bottom: 1.3rem;  
  font-weight: $font-weight-bold;
  box-shadow: $box-shadow;
}

.sg-booth-instruction {
  position: fixed;
  left: 50%;
  left: 33%;
  right: 33%;
  top: 100px;
  color: $white;
  text-shadow: $box-shadow;
}

.sg-booth-timer {
  display: block;
  position: fixed;
  content: "";
  height: 20px;
  width: 80%;
  bottom: $grid-gutter-width * 3;
  left: 50%;
  border-radius: $border-radius;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,.5);
  overflow: hidden;

  &__fill {
    height: 100%;
    width: 30%;
    padding: 14px;
    content: "";
    border-radius: $border-radius;
    background: $yellow;
  }
}

.sg-booth-counter > span {
  color: $white;
  font-weight: $font-weight-bold;
  font-size: 280px;
  font-family: $headings-font-family;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}