// Unique

$image-link-hover-opacity:      0.8;

// 
// Overriding bootstrap
// 

$white:    #fff;
$gray-100: #f9f9f9;
$gray-200: #ececec;
$gray-300: #e3e2e2;
$gray-400: #d4d4d4;
$gray-500: #b5b5b5;
$gray-600: #6c6c6c;
$gray-700: #505050;
$gray-800: #3a3a3a;
$gray-900: #252525;
$black:    #000;

$dark:                              $black;
$dark-blue:                         #160334; // unique- not an override
$yellow:                            #FFE03D;
$primary:                           #FF2257;
$border-radius:                     6px;
$grid-gutter-width:                 32px;
$container-max-widths: (sm: 540px, md: 920px, lg: 928px, xl: 1024px );

// Typography
@font-face {
  font-family: 'League Spartan';
  src: url('./build/fonts/leaguespartan-bold.eot');
  src: url('./build/fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('./build/fonts/leaguespartan-bold.woff2') format('woff2'),
       url('./build/fonts/leaguespartan-bold.woff') format('woff'),
       url('./build/fonts/leaguespartan-bold.ttf') format('truetype'),
       url('./build/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;

}
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap');

$font-family-sans-serif: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$paragraphs-margin-bottom: .75rem;

$headings-font-family: 'League Spartan', Helvetica, Arial, sans-serif;
$headings-line-height: 1.3;
$headings-color: $black;
$headings-margin-bottom: $paragraphs-margin-bottom;

// Options
$enable-transitions: false;

// Pagination

$pagination-color:                  $gray-500;
$pagination-bg:                     transparent;
$pagination-border-width:           0;
$pagination-border-color:           transparent;
$pagination-active-color:           #000000;

$pagination-hover-bg:               transparent;
$pagination-active-color:           #000000;
$pagination-active-bg:              transparent;
$pagination-disabled-bg:            transparent;

// Navbar

$navbar-padding-y:                  $grid-gutter-width/2;
$navbar-padding-x:                  $grid-gutter-width;
$navbar-brand-height:               3.75rem;

$zindex-navbar:                     1080; // unique

//Modals

$modal-inner-padding:               1rem 3rem 3rem;
$modal-header-padding-x:            3rem;
$modal-header-padding-y:            2rem;
$modal-header-border-color:         transparent;

// Forms
$custom-control-indicator-size:                   1.2rem;
$custom-control-indicator-checked-color:          $yellow;
$custom-control-indicator-checked-bg:             $yellow;
$custom-control-indicator-checked-border-color:   darken($yellow,20%);
$custom-control-indicator-active-bg:              lighten($yellow,20%);