.placeholder {
  border: 1px dashed blue;
  background: rgba(0, 0, 255,.3);
  padding: 1rem;
}

.sg-alt-link-style {
  text-decoration: none;
  color: $black;
  @include hover-focus-active {
    color: $primary;
  }
}

$bg-colors: (
  yellow : $yellow,
  dark-blue : $dark-blue,
);

@each $class, $bg-color in $bg-colors {
  .bg-#{$class} {
    background-color: $bg-color;
  }
}

.sg-full-page-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sg-line-height-sm {
  line-height: 1.2,
}