body {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .75rem;
}

h1 ,.h1 {
  font-weight: $font-weight-bold;
  @include media-breakpoint-down(xs){
    font-size: 1.75rem;
  }
}

img {
  max-width: 100%;
}

.container {
  padding-top: $spacer*6;
  padding-bottom: $spacer*6;
}

a.disabled {
  color: $gray-300;
  cursor: not-allowed;
  pointer-events: none;
}

.sg-squiggle {
  margin-top: $spacer*2;
  margin-bottom: $spacer*2;
  text-align: center;
}

.sg-fancy-frame {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  background: url(build/images/pattern.svg);
  border-radius: $border-radius;   


  & > img {
  }
}

.row.row-condensed {
  margin-left: -$grid-gutter-width/4;
  margin-right: -$grid-gutter-width/4;

  & div[class^='col'],
  & div[class*=' col'] {
    padding-left: $grid-gutter-width/4;
    padding-right: $grid-gutter-width/4;
  }

}