.sg-page-header {
  margin-bottom: $grid-gutter-width *2 ;
  display: flex;
  justify-content: space-between;
  align-items: top;
  
  & > .container {
    padding-bottom: 0;
  }

  &__title {
    flex-grow: 1;
  }

  &__title > h1 {
    line-height: 1;
  }

  &__action {
    padding-left: $grid-gutter-width;
  }
}