.sg-tooltip-container {
  position: relative;

  &:hover .sg-tooltip {
    opacity: 1;
    display: inline;
  }
}

.sg-tooltip {
  display: none;
  position: absolute;
  bottom: -.25rem;
  color: $white;
  font-size: .75rem;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  background: $black;
  border-radius: $border-radius-sm;
  padding: .25rem .5rem;
  opacity: 0;
}
